@font-face {
  font-family: "lichess";
  src: url("https://lichess1.org/assets/_FfCz0h/font/lichess.woff2") format("woff2"), url("https://lichess1.org/assets/_FfCz0h/font/lichess.woff") format("woff");
  font-display: block;
}

:root {
  --background-color-light: #F0F1F2;
  --background-color-dark: #262626;
  --background-color-dark2: #595857;

  --box-color: #595857;

  --button-color-red: #D34F47;
  --button-color-green: #87924D;
  /* --button-color-green: #6e924d; */
  --button-color-blue: #595857;
  --button-color-dark: #333;

  --font-white: #F0F1F2;
  --font-golden: #CBA148;

  --select-border-white: #ccc;

  --chart-win-color: #87924D;
  --chart-win-color-hover: #839336;
  --chart-win-border-color: #87924D;

  --chart-draw-color: #6E6E6E;
  --chart-draw-color-hover: #636363;
  /* slightly darker */
  --chart-draw-border-color: #6E6E6E;

  --chart-loss-color: #D34F47;
  --chart-loss-color-hover: #f4160a;
  --chart-loss-border-color: #D34F47;

  --statistics-background-color: var(--background-color-light);
  --statistics-background-color: #F2F2F2;

  --pieChart-color1: #D34F47;
  --pieChart-color2: #CBA148;
  --pieChart-color3: #87924D;
  --pieChart-color4: #3060BF;
  --pieChart-color5: #A63C58;
  --pieChart-color6: #A0522D;


  --svgMap-colorMax: #24382A;
  --svgMap-colorMin: #9BBF65;
  --svgMap-noData: #524d47;

  --tooltip-background: #F0F1F2;
  --tooltip-black: #262626;
  --tooltip-gray: #595857;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color-light);
  color: var(--background-color-dark);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 20px auto;
  background-color: var(--font-white);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

#username,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--select-border-white);
  border-radius: 3px;
  margin-bottom: 10px;
}

#username {
  width: 95.5%;
}

select,
input {
  background-color: #e9e9ed;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.submit-button,
.abort-button {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--font-white);
  font-size: 14px;
}

.submit-button {
  background-color: var(--button-color-green);
}

.abort-button {
  background-color: var(--button-color-red);
}

.gamesFound {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.result-container h2 {
  text-align: center;
}

.result-container {
  margin: 20px auto;
  width: 90%;
  max-width: 1200px;

  display: none;
}

.result {
  margin-top: 20px;
  width: 100%;
}

.box {
  background-color: var(--box-color);
  color: var(--font-white);
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  padding: 1px 40px 40px 40px;
  margin: 50px;
  border-radius: 5px;
  min-width: 300px;
  flex: 1;
}

#userInformation {
  background-color: var(--button-color-blue);
  align-items: center;
  display: flex;
  gap: 1.2rem;
  overflow: hidden;
  padding: 40px;
}

.userHeaderWrapper {
  font-size: medium;
}

.userHeader {
  align-items: center;
  color: var(--globalColorThemeFull);
  display: flex;
  font-weight: 800;
}

.userSubheader {
  align-items: center;
  color: var(--globalColorThemeFull);
  display: flex;
}

#userCountry {
  height: 5rem;
  border: 1px solid #1C6EA4;
  border-radius: 5px;
}

#userPatron {
  font-family: lichess;
  color: var(--font-golden);
  margin: 0px;
  margin-right: 10px;
  font-size: 250%;
}

#userTitle {
  color: var(--font-golden);
  font-size: 140%;
  font-weight: bold;
  margin: 0px;
  margin-right: 10px;
}

#userNameWrapper {
  margin: 0px;
  margin-right: 10px;
}

#userName {
  color: var(--font-white);
  font-size: 160%;
  text-decoration: none;
}

#userFirstName {
  margin-left: 10px;
  margin-right: 4px;
}

#userLastName {
  margin-right: 4px;
}

#userFideRating:not(:empty)::before {
  content: '(';
}

#userFideRating:not(:empty)::after {
  content: ')';
}

.svgMap-map-wrapper {
  border-radius: 5px;
  background-color: var(--button-color-red);
}

.svgMap-tooltip {
  color: var(--tooltip-black)
}

#toggleDarkmodeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 16px;
  background-color: var(--button-color-dark);
  color: var(--font-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--font-white);
}

.dark-mode2 {
  background-color: var(--background-color-dark2);
  color: var(--font-white);
}

.error {
  position: fixed;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  border-radius: 5px;
  margin: 10px 0px;
  padding: 15px 15px 15px 80px;
  background-repeat: no-repeat;
  background-position: 2% center;
  background-color: var(--button-color-red);
  background-image: url('error.svg');
  color: var(--background-color-light);
  background-size: 5%;
}

#error {
  display: none;
}

#gamesPlayedChart {
  margin-top: 20px;
}

.chart {
  background-color: var(--statistics-background-color);
  border-radius: 5px;
}

.gamesPlayedStripChart {
  display: flex;
  align-items: center;
  height: 40px;
  border: 1px solid var(--background-color-light);
  background-color: var(--statistics-background-color);
  padding: 20px;
  border-radius: 5px;
}

.bar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  text-overflow: clip;
  transition: all 0.25s ease-out;
  width: 0px;
  position: relative;
  text-shadow: none;
}

#stripChartWins {
  background-color: var(--chart-win-color);
  border: 1px solid var(--chart-win-border-color);
}

#stripChartWins:hover {
  background-color: var(--chart-win-color-hover);
}

#stripChartDraws {
  background-color: var(--chart-draw-color);
  border: 1px solid var(--chart-draw-border-color);
  z-index: 10;
}

#stripChartDraws:hover {
  background-color: var(--chart-draw-color-hover);
}

#stripChartLosses {
  background-color: var(--chart-loss-color);
  border: 1px solid var(--chart-loss-border-color);
}

#stripChartLosses:hover {
  background-color: var(--chart-loss-color-hover);
}

.tooltip {
  visibility: hidden;
  background-color: var(--tooltip-background);
  color: var(--tooltip-black);
  text-align: center;
  border-radius: 5px;
  font-size: small;
  width: 120px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -60px;
  /* width / 2 */
}

.bar:hover .tooltip {
  visibility: visible;
}

.pieChart {
  margin: 20px 0px;
}

.pieChartWrapper {
  width: 100%;
  background-color: var(--statistics-background-color);
  border-radius: 5px;
}

.svgMap-map-image {
  background-color: var(--statistics-background-color);
}

#sourceCodeLink {
  display: block;
  text-align: center;
  padding: 8px 16px;
  color: #808080;
  text-decoration: none;
  font-size: small;
  margin-bottom: 15px;
}